<h1>Catcheds Pokemon</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catcheds.each do |catched| %>
      <tr>
        <td><%= catched.pokemon.name %></td>
        <td><%= catched.pokemon.description %></td>
        <td><%= catched.level %></td>
        <td><%= link_to 'Subir nivel', level_up_catched_path(catched)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Atrapar", new_catched_path, class: "btn btn-primary" %>
